{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<main>
    <h2 class="title">Hall of fames</h2>
    <section class="component">
        <img class="clipper" src="{{ asset('images/clipper.png') }}" alt="movie" />
        <h2>title</h2>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt et metus porttitor hendrerit. 
            Fusce vitae erat in nibh fringilla molestie. Vivamus eu dignissim orci. Vivamus vitae est a justo consequat porta id at quam.
            Duis suscipit sit amet sem ut efficitur. In hac habitasse platea dictumst.
        </p>    
        <button class="btn btn-primary">Regarder</button>
    </section>
    <section class="component">
        <img class="clipper" src="{{ asset('images/clipper.png') }}" alt="movie" />
        <h2>title</h2>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt et metus porttitor hendrerit. 
            Fusce vitae erat in nibh fringilla molestie. Vivamus eu dignissim orci. Vivamus vitae est a justo consequat porta id at quam.
            Duis suscipit sit amet sem ut efficitur. In hac habitasse platea dictumst.
        </p>    
        <button class="btn btn-primary">Regarder</button>
    </section>
    <section class="component">
        <img class="clipper" src="{{ asset('images/clipper.png') }}" alt="movie" />
        <h2>title</h2>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt et metus porttitor hendrerit. 
            Fusce vitae erat in nibh fringilla molestie. Vivamus eu dignissim orci. Vivamus vitae est a justo consequat porta id at quam.
            Duis suscipit sit amet sem ut efficitur. In hac habitasse platea dictumst.
        </p>    
        <button class="btn btn-primary">Regarder</button>
    </section>
    <section class="component">
        <img class="clipper" src="{{ asset('images/clipper.png') }}" alt="movie" />
        <h2>title</h2>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt et metus porttitor hendrerit. 
            Fusce vitae erat in nibh fringilla molestie. Vivamus eu dignissim orci. Vivamus vitae est a justo consequat porta id at quam.
            Duis suscipit sit amet sem ut efficitur. In hac habitasse platea dictumst.
        </p>    
        <button class="btn btn-primary">Regarder</button>
    </section>
</main>
{% endblock %}
